.footer {
    background-color: var(--dark-color);
    color: white;
    border-radius: 20px;
}

.socialLinks ul li a span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.socialLinks ul li a span i {
    background: linear-gradient(90deg, #2c3c8d, #02aaec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialLinks ul li {
    list-style: none;
}

.socialLinks i {
    font-size: 20px;
}


.logo {
    max-width: 160px;
    height: auto;
}

.brandSide h5,
.quickLinks h5 {
    font-size: 20px;
    font-weight: 500;
}

.brandSide p {
    font-size: 14px;
    font-weight: 400;
}

.quickLinks a {
    font-size: 14px;
    font-weight: 400;
    padding-top: 1rem;
}

.footer hr {
    border: none;
    border-bottom: 2px solid white;
    margin-top: 1rem;
    width: 100%;
}

.footerBottom p {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .footerBottom p {
        font-size: 10px;
        font-weight: 400;
    }
}

.footer a {
    text-decoration: none;
}

.footer i {
    font-size: 15px;
    color: white;
}

.footer p {
    color: white;
}